<div class="container">
  <form class="container well">
    <div>
      <label>Title: </label>
      <br>
      <input type="text" name="title" ng-model="vm.blog.title" class="form-control" />
    </div>
    <hr>
    <div>
      <label>Body: </label>
      <textarea name="body" class="form-control" ng-model="vm.blog.body" rows-10></textarea>
    </div>
    <hr>
    <div>
      <label>Tags: </label>
      <br>
      <input type="text" name="tags" ng-model="vm.blog.tags" class="form-control" />
    </div>
    <hr>
    <div>
      <label>Image URL: </label>
      <br>
      <input type="text" name="imageUrl" ng-model="vm.blog.imageUrl" class="form-control" />
    </div>
    <hr>
  </form>
</div>
